<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"rel="stylesheet"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main flex flex-col text-white gap-4 w-full h-screen bg-zinc-800 p-16">
        <div class="container rounded-md flex justify-between bg-neutral-700 p-3">
            <h3 >Khatabook</h3>
            <span class="flex gap-4">
                <a class="tracking-tight" href="/">Home</a>
                <a class="tracking-tight" href="/create">Add new transaction</a>
            </span>
        </div>
        <h3 class="tracking-tight mt-8 font-semibold">Create New transaction record</h3>
        <form action="/create"method="post">
            <input type="date" class="block mb-3 p-2 rounded-md w-1/2 bg-transparent border-2 border-zinc-700 hover:border-gray-300 transition duration-300 ease-in-ease-out"placeholder="Date" name="date"></input>
            <textarea class = "block p-2 rounded-md h-72 w-1/2 bg-transparent resize-none text-white border-2 border-zinc-700 hover:border-gray-300 transition duration-300 ease-in-ease-out"placeholder="sugar-100,rice-1000..."name="details"></textarea>
            <input type="submit" value="Create Record"class="block mt-4 rounded-lg p-2 font-semibold bg-blue-500 w-36"></input>
        </form>
    </div>
</body>
</html>