<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Record</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main flex flex-col text-white gap-4 w-full h-screen bg-zinc-800 p-16">
        <div class="container rounded-md flex justify-between bg-neutral-700 p-3">
            <h3>Khatabook</h3>
            <span class="flex gap-4">
                <a class="tracking-tight" href="/">Home</a>
                <a class="tracking-tight" href="/files/create">Add new transaction</a>
            </span>
        </div>

        <h3 class="mt-8 font-semibold flex items-center gap-2">
            Date: <%= record.date %>
            <a class="text-blue-400" href="/files/<%= record._id %>/edit" title="Edit"><i class="ri-pencil-fill"></i></a>
        </h3>

        <p class="mt-6 text-white text-lg"><%= record.details %></p>
    </div>
</body>
</html>
